.mainBlock {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-image: url(img.jpg);
    background-size:auto;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

.Icon {
    background:linear-gradient( 53.2deg, rgb(73, 20, 91) 26.8%, rgba(187,19,19,0.65) 64% );
    width: 269px;
    display: inline-block;
    text-align: center;
    margin: 19px;
    padding: 5px ;
    border: 7px solid rgba(251, 213, 10, 0.58);
    border-radius: 15px 
}