.mainBlock {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: rgb(0, 156, 60);
}

.Icon {
    background:linear-gradient( 95.2deg, rgb(173, 252, 235) 26.8%, rgba(192,229,246,1) 64% );
    width: 269px;
    height: 275px;
    display: inline-block;
    text-align: center;
    margin: 2px;
    padding: 5px ;
    border: 1px solid rgb(69, 63, 75);
    border-radius: 15px 
}